body {
    margin:0;
    padding:0;
}

#map {
    position:absolute;
    top:2%;
    bottom:2%;
    left: 2%;
    width: 950px;
    height: 950px;
/*    width:75%;
    height:88%; */
}

.legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 10px;
    z-index: 1;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}



.legend h4 {
    margin: 0 0 10px;
}

.legendSize rect, .sizeLegend circle {
    fill: #b7b6b3;
}

.marker {
  background-image: url('../green.png');
  background-size: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}